body{
    padding-top: 101px;
    background-color: #E7E7E7;
}
.custom-rounded {
  border-radius: 20px;
  border: 2px solid black;
  background-image: url("Photos/Logo/logo2.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.text-red {
  color: red;
}
.text-red:hover {
    text-decoration: none;
}

.custom-input {
  border-radius: 10px;
  background-color: rgba(243, 241, 241, 1);
}

.text-blue {
  color: #007BFF;
}
.text-black {
    color: #000;
    
}
.text-black:hover {
    color: red;
    text-decoration: none;
}
.bg-red {
    background: #ed1a20 !important;
}

.padding-5 {
    padding: 5px;
}
/* navbar */
nav {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

/* Hưng */
   /* Styling for the footer section */
   .footer-section-container {
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: space-around; /* Canh giữa theo chiều ngang các phần tử trong footer */
    background-color: #000; /* Nền đen cho phần footer */
    display: flex;
    background-color: #000; /* Nền đen cho phần footer */
    padding: 20px; /* Khoảng cách lề phần footer */
}

/* Styling for footer section elements */
.footer-section {
    width: 20%;
    text-align: left; /* Canh trái nội dung trong footer */
    color: #fff; /* Chữ màu trắng */
}

/* Styling for h2 elements inside the footer section */
.footer-section h2 {
    color: #fff; /* Chữ màu trắng */
    font-size: 27px;
    position: relative;
}

/* Styling for the line after h2 elements inside the footer section */
.footer-section h2::after {
    content: "";
    display: block;
    width: 160px;
    height: 2px;
    background-color: red;
    position: absolute;
    bottom: -3px;
    left: 0;
}

/* Styling for p and a elements inside the footer section */
.footer-section p, .footer-section a {
    color: #fff !important; /* Chữ màu trắng */
    display: block;
    position: relative;
    margin:0;
    text-decoration: none;
}

.footer-section a:hover {
    color: red !important; /* Change the text color to red on hover */
}

/* Styling for the map container */
.map-container {
    width: 100%;
    height: 200px;
    margin-top: 20px;
}

/* Styling for the button container */
.button-container {
    display: flex;
    align-items: flex-start;
}

/* Styling for anchor elements inside the button container */
.button-container a {
    color: #fff; /* Chữ màu trắng */
}







/*Phong*/
*{ 
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 100%;
   }
/* Component */
.padding {
    padding: 10px;
}
.margin {
    margin: 5px;
}
.font-weight_bold{
    font-weight: bold;
}
/* Main Menu */
#main-menu{
    width: 100%;
    background: #E7E7E7;

}
.main-menu_categories, .main-menu_brands{
    width: 1350px;   
}
.main-menu_name {
   
    font-size: 25.6px;
    font-weight: 700;
}
.category-menu {
    padding: 12px;

}

.menu-item {
    height: 180px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: #FFF;
    position: relative;
    overflow: hidden;
    transition: box-shadow 0.3s, transform 0.3s; 
}
.menu-item:hover  {
    border: 1px solid rgba(4, 4, 4, 0.2);
    box-shadow: -1px 0 2px 0px rgba(2, 2, 2, 0.3) ;
    cursor: pointer;
}
.menu-item:hover .menu-item_img{
    transform: scale(1.1);
}

.menu-item_img {
    width: 80px;
    height: 80px;
    background: none;
    border-radius: 50%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease;
}
/* Responsive */


/* list */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.custom-col {
    max-width: 285px;
    max-height: 400px;
}


.custom-col:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Hiệu ứng đổ bóng khi hover */
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Thời gian và kiểu chuyển động */
}

.home-custom-image {
    height: 190px;
    width: 100%;
}

.col-inner {
    background-color: #FFF;
    padding: 15px 15px 15px 15px;
    border-radius: 6px;
    box-shadow: 0 0 3px 0 #dee2e6;
}

.wrapper {
    background-color: #E7E7E7;
    max-width: 100%;

}

.home-btn-showmore{
    width: 200px;
    height: 40px;
    margin-top: 10px;
}

.home-custom-card-title {
    display: inline-block;
    height: 70px;
}
.home-custom-card-title:hover {
    color: #ed1a20;
}

.list-btn-pagination{
    width: 40px;
    height: 40px;
    margin: 10px 5px;

}

#logoCompare, #logoCart {
    position: relative;
}

#numberCompare, #numberCart {
    position: absolute;
    left: 20px;
    top: -10px;
    height: 25px;
    width: 25px;
    color: red;
    /* border: 2px solid red; */
    border-radius: 50%;
}

table {
    border-collapse: collapse;
}

.thCompare, .tdCompare {
    border: 1px solid rgb(211, 211, 211) !important;
    padding: 5px;
}
.tableRowName {
    height: 60px;
}
.tableRowImage {
    height: 100px;
}
.thCompare {
    background-color: #2a6b2a;
    color: #fff;
    font-weight: bold;
}

.trCompare:hover {
    background-color: #f5f5f5;
}

.btn:active {
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.4);
}

.active-page {
    background-color: #6c757d !important;
    border: 1px solid #6c757d !important;
}


/* Product-detail */
.product-detail-container {
    width: 100%;
    background: #E7E7E7;
    border-bottom: 1px solid #E7E7E7;
}
.product-details {
    width: 60%;
    background: #FFF;


    
}
.product-detail-img {
    width: 420px;
    height: 350px;
    border: 1px solid #E7E7E7;
    box-shadow: 0 0 5px #E7E7E7;
    object-fit: contain;
    

}



/* Quantity product */
.incrementBtn, .decrementBtn {
    width: 30px;
    height: 30px;
    margin: 0 !important;
    padding: 0 !important;
}
.quantityInput {
    width: 50px !important;
    border: 1px solid #ececec;

}
/* LÀm mất mũi lên lên xuống của ô input */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.font-size-sm{
    font-size: 80%;
}
.font-size-smsm{
    font-size: 60%;
}

.product-detail-action .btn-add{
    background: none;
    border: 1px solid #ed1a20;
    border-radius: 3px;
}
.product-detail-action .btn-add:hover {
    background: #ed1a20 ;
    color: white !important;
}
.product-detail-action .btn-contact {
    background: #fb6e2e !important;
}
.btn-contact:hover{
    background: #d45d1a !important;
}

.product-details-benefit img{
    width: 40px;
}
.product-decription table td {
    width: 50%;
    
}
.border-bot-red {
    border-bottom: 1px solid #ed1a20;
    width: 200px !important;
}
.text-justify {
    text-align: justify;
}
.text-start {
    text-align: start;
}
/* FeedBack */
.product-text-feedback{
    width: 100%;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 3px;
    transition: border-color 0.3s;
    
}
.product-text-feedback:focus{
   border-color :#df8083;
   outline: none;
}

/* View cart */
.view-cart, .view-cart-empty {
    width:100%;
    background: #E7E7E7;

}
.view-cart-empty .icon-cart{
    font-size: 100px!important;
    color: lightgray !important;
}

.view-cart-details {
    width: 60%;
    background: #fff;
}
  .view-cart-details  table th:first-child {
   width: 50%;
  }
  
.view-cart-details  table tr td img {
    max-width: 50px;
    max-height: 50px;
}
.cart-btn-x {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #ececec;
    color: #ececec;
    background: none;
}
.cart-btn-x:hover {
    border: 1px solid #000;
    color:#000;
    
}
/* Check out */
.view-Checkout {
    width:100%;
    background: #E7E7E7;

}
.view-checkout-details{
    width: 40%;
    background: #fff;
}
.view-checkout-details  table th:first-child {
    width: 50%;
   }
   
 .view-checkout-details  table tr td img {
     max-width: 50px;
     max-height: 50px;
 }
.viewChkoutLine {
    width: 100%;
    height: 2px;
    background: #000;
}

.infor-user {
    width: 100%;
    background: #fff;
}
.infor-user label {
    width: 40%;
}
.infor-user input {
    width: 60%;
    border: 1px solid lightgray;
    border-radius: 5px;
}
.infor-user textarea {

    width: 60%;
    height: 100%;
    border: 1px solid lightgray;
    border-radius: 5px;
}
.infor-user input[type="radio"] {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}
.infor-user a.checkOut{
    width: 70%;
}
.infor-user button{
    width: 100% !important;
}




/*Edit overflow for search  */
       #searchResults {
            position: absolute;
            width: 15%;
            background-color: #fff;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            z-index: 1;
        }

        .search-result-item {
            padding: 10px;
            border-bottom: 1px solid #ccc;
            cursor: pointer;
        }

        .search-result-item:hover {
            background-color: #f5f5f5;
        }


    /* Carousel */
    .carousel-container {
        width: 100%;
        margin: 0 auto;
        overflow: hidden;
        position: relative;

    }

    .carouselThu {
        display: flex;
        transition: transform 0.5s ease-in-out;
    }

    .carousel-itemThu {
        flex: 0 0 auto;
        width: 20%;
        /* Adjust the width to show 5 items at a time */
        box-sizing: border-box;
    }

    .prev,
    .next {
        position: absolute;
        top: 47%;
        width: 20px;
        padding: 5px;
        color: black;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        cursor: pointer;
    }

    .prev {
        left: 0%;
        border-radius: 3px 0 0 3px;
    }

    .next {
        right: 0%;
        border-radius: 3px 0 0 3px;
    }

    .prev:hover,
    .next:hover {
        background-color: rgba(227, 117, 117, 0.8);
    }
    .relPostition {
        position: relative;
    }